Repository lumapps/changelog-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamllint

.pre-commit-config.yaml:

---
default_language_version:
  python: python3.12

repos:
  # Apply a selection of the pre-commit built-in validators
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: debug-statements
      - id: check-symlinks
      - id: detect-private-key
        exclude: tests/
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: .github/CODEOWNERS

  # Make sure there are no unnecessary excludes in the above checks
  - repo: meta
    hooks:
      - id: check-useless-excludes

  - repo: https://github.com/frnmst/md-toc
    rev: 9.0.0
    hooks:
      - id: md-toc

  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: venv/bin/black
        types: ["python"]

      - id: isort
        name: isort
        language: system
        entry: venv/bin/isort --recursive
        types: ["python"]

      - id: pylint
        name: pylint
        language: system
        entry: venv/bin/pylint
        require_serial: true
        types: ["python"]

      - id: yamllint
        name: yamllint
        language: system
        entry: venv/bin/yamllint --strict
        types: ["yaml"]

  - repo: https://github.com/lumapps/commit-message-validator
    rev: 1.5.1
    hooks:
      - id: commit-message-validator
        stages: [commit-msg]
        args: [--allow-temp, --no-jira]

chore(codewoner): move codeowner to triarii to ease the review
  .github/CODEOWNERS
Due: none

feat(changelog): add a gen ai summary of the diff
  changelog_generator/ai_generator.py
  changelog_generator/changelog_template.jinja
  changelog_generator/generator.py
  changelog_generator/repository_manager.py
  requirements.in
  requirements.txt
  setup.cfg
  setup.py
Due: black, isort, pylint

chore(ci): fix mypy missing typing
  changelog_generator/generator.py
Due: black, isort, pylint

fix(ai): add missing return when ai var not set
  changelog_generator/ai_generator.py
Due: black, isort, pylint

fix(ai): handle path filtering in the diff given to AI
  changelog_generator/repository_manager.py
Due: black, isort, pylint

fix: avoid having the AI invent a release name and version
  changelog_generator/ai_generator.py
Due: black, isort, pylint

fix: avoid having the AI use colors in slack changelogs
  changelog_generator/ai_generator.py
Due: black, isort, pylint

print the names of the files
  changelog_generator/repository_manager.py
Due: black, isort, pylint

fix(gen-ai): try to priorize changes based on the prefix
  changelog_generator/ai_generator.py
  changelog_generator/generator.py
Due: black, isort, pylint

fix(gen-ai): remove metrics section
  changelog_generator/ai_generator.py
Due: black, isort, pylint

fix(gen-ai): remove sections if not meaningful
  changelog_generator/ai_generator.py
Due: black, isort, pylint

chore(codeowner): Updating CODEOWNERS file
  .github/CODEOWNERS
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yamllint

chore(ci): remove private actions
  .github/workflows/validate_pr.yml
Due: yamllint

fix(gen-ai): Avoid returning results if no Vertex AI auth provided
  .github/workflows/validate_pr.yml
  .gitignore
  changelog_generator/ai_generator.py
Due: black, isort, pylint, yamllint
